.chat {
  min-height: 100vh;
  background-image: url(../../images/chat-bg.png);
  background-size: contain;
  display: grid;
  place-items: center;
}

/* Define the keyframes for spinning loader */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Style the loading text */
.loading {
  width: 40px;
  height: 40px;
  border: 4px solid #f3f3f3; /* Light gray border */
  border-top: 4px solid #69c435; /* Darker color for the spinner */
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin-top: 20px;
}

.chat-container {
  width: 90%;
  height: 75vh;
  max-width: 1000px;
  background-color: rgb(249, 255, 250);

  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  /* padding: 10px; */
  border-radius: 10px;
  margin-bottom: 5px;
  box-shadow: 0 50px 50px rgba(0, 0, 0, 0.1);
}

.chat .cc {
  margin-top: none;
}
