.chat-box {
  height: 75vh;
  position: relative;
  /* From https://css.glass */
  background-image: url(../../images/chat-bg.png);
  /* background: rgba(255, 255, 255, 0.16); */
  /* border-radius: 16px; */

  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.4px);
  -webkit-backdrop-filter: blur(3.4px);
  border: 1px solid rgba(255, 255, 255, 0.21);
}

.chat-user {
  padding: 10px 5px;
  display: flex;
  align-items: center;
  gap: 10px;
  border-bottom: 1px solid #e7f8dd;
  /* background-color: #e7f8d9; */
}

.chat-user img {
  width: 25px;
  border-radius: 50%;
}

.chat-user img:first-child {
  width: 38px;
  aspect-ratio: 1/1;
}

.chat-user p {
  flex: 1;
  display: flex;
  font-weight: 500;
  align-items: center;
  color: #003e29;
  gap: 5px;
}

.chat-input {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 15px;
  background: white;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.chat-input label {
  display: flex;
}

.chat-input label img {
  width: 22px;
}

.chat-input input {
  flex: 1;
  border: none;
  outline: none;
  font-weight: 500;
}

.chat-msg {
  height: calc(100% - 15%);
  overflow-y: scroll;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-start;
}

.s-mg div img,
.r-mg div img {
  width: 27px;
  aspect-ratio: 1/1;
  border-radius: 50px;
}

.s-mg,
.r-mg {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 5px;
  padding: 0px 15px;
}

.r-mg {
  flex-direction: row-reverse;
  justify-content: start;
}

.msg {
  color: rgb(229, 242, 177);
  background-color: rgba(33, 89, 33, 0.692);
  padding: 8px;
  max-width: 200px;
  font-size: 12px;
  font-weight: 450;
  border-radius: 8px 8px 0px 8px;
  margin-bottom: 30px;
}

.r-mg .msg {
  border-radius: 8px 8px 8px 0px;
}

.s-mg div,
.r-mg div {
  text-align: center;
  font-size: 9.5px;
}

.msg-img {
  max-width: 200px;
  margin-bottom: 30px;
  border-radius: 10px;
}
