/* @tailwind base;
@tailwind components;
@tailwind utilities; */

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensures the app stretches the full height */
  justify-content: center; /* Centers content vertically */
  align-items: center; /* Centers content horizontally */
  padding: 20px; /* Adds padding to ensure spacing on small screens */
}
