.form-container {
  /* background-color: #b1ffca; */
  /* background: linear-gradient(115deg, #52cc7a 10%, #cdffdd 90%); */
  background-image: linear-gradient(
    to right,
    #6ba0d1,
    #57b0d9,
    #47bfdb,
    #47ccd7,
    #5bd9ce,
    #62e0c6,
    #6fe6bd,
    #81ebb1,
    #81eda6,
    #83ef9b,
    #87f18d,
    #8ef27f
  );
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.form-wrapper {
  background-color: #fff;
  padding: 25px 50px;
  border: 25px 70px;
  border-radius: 10px 10px;
  width: 250px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;

  /* styling the Chatty sign up text */
  .chatty-logo {
    font-size: 20px;
    font-weight: bolder;
    color: #25352a;
  }

  .text-reg {
    color: #25352a;
    font-size: 14px;
    font-weight: bold;
  }
  form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    cursor: pointer;

    input {
      padding: 10px;
      border: 1px;
      border-left: 0.5px solid #52cc7a;
      &::placeholder {
        color: grey;
      }
    }
    button {
      background-color: #52cc7a;
      color: #fff;
      padding: 10px;
      border: none;
      cursor: cell;
      font-weight: bold;
    }
    label {
      display: flex;
      align-items: center;
      gap: 10px;
      color: #52cc7a;
      font-size: 15px;
      cursor: pointer;
    }
  }
  p {
    color: #52cc7a;
    font-size: 13px;
    margin-top: 10px;
  }
}
